* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;\
}

body{
    background: black;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active{
    color: #A0C49D;

}

.home{
    height: 100vh;
    background: url('./Toji2.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    background: transparent;
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #A0C49D;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    background: transparent;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #A0C49D;
    border: 2px solid #A0C49D;
    border-radius: 8px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.btn-box a:hover{
    color: white;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: white;
}

.btn-box a:nth-child(2):hover{
    color: white;
}

.btn-box a:nth-child(2)::before{
    background: #A0C49D;

}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #A0C49D;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.hire{
    color: white;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ccd2cb;
    border-radius: 50%;
    font-size: 20px;
    color: #cad0ca;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: #e5e8e4
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #A0C49D;
    z-index: -1;
    transition: 0.5;

}

.home-sci a:hover::before{
    width: 100%;
}

.navbar > a {
    transition: font-size 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navbar > a:hover{
    font-size: 30px;
    transform: scale(2.0);
}


.my-name{
    transition: font-size 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.my-name:hover{
    font-size: 150px;
    transform: scale(20.0);
}

.home-sci{
    transition: font-size 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.home-sci:hover{
    font-size: 10px;
    transform: scale(1.3);
}



